
.main-bg {
    background-image: url('../images/main-bg.svg');  /* Estilizando o layout da pagina colocando uma imagem de fundo */
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}


.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-sapcing{
height: 65px;
}