:root {  /* Criando variaveis css para otimizar o processo */
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEE;
    --gap: 3rem;

}

.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    /*ajustando o grid do conteudo da pagina principal ajustando por 2 fracoes de pagina */
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content,
.intro-img {
    /* ajustando a imagem da fracao do grid */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}



.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;
}



.title-content {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 80rem;
    text-align: center;
}





.grid-one-content {
    /*estilizando o flex */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

.grid {
    /*Criando um grid para separar os conteudos de texto na parte da pagina "" */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: 6rem;
    /* distanciando os textos em 30pixels */
}

.grid h3  p {
    font-size: 4rem;
    /* distanciando os textos em 30pixels */
}

.footer p {
    margin: 0;
    padding: 3rem;
}


.footer a {
    color: var(--primary-color);
}


.footer {
    text-align: center;
    font-size: 1.6rem;
}


.img-fluid{border-radius: 20px;}


.carousel-caption d-none d-md-block{
color: aqua ;
}